.Navbar {
  border: solid;
  border-color: white;
  border-radius: 50px;
  color: white;
  padding: 20px 80px 20px 80px;
  width: 50vmax;
  background-color: rgb(62, 157, 253);
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
  }
  a:hover {
    text-decoration: underline;
    animation-duration: 2s;
  }
}

.middle-div {
  margin-top: 80px;
  max-width: 100vmax;
  max-height: 30vmax;
  border: solid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.divisor {
  height: 5px;
  margin: 5px 0 5px 0;
}

.titulo {
  color: black;
}

.card-container {
  display: flex;
  width: 100%;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin: 10px 50px 10px 50px;
}
.card-img-top {
  width: 500px;
  height: 300px;
}

.card-text {
  word-wrap: break-word;
  height: 200px;
  overflow: hidden;
}

.card-body {
  height: 400px;
  overflow: hidden;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 10px 50px 10px 50px;
}

.banner {
  max-height: 800px;
}

.postres {
  display: flex;
  align-items: center;
  justify-content: center;
}
