body {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  background-color: rgb(105, 179, 253);
}

.Navbar {
  border: solid;
  border-color: white;
  border-radius: 50px;
  color: white;
  padding: 20px 80px 20px 80px;
  width: 50vmax;
  background-color: rgb(62, 157, 253);
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
  }
  a:hover {
    text-decoration: underline;
    animation-duration: 2s;
  }
}

.middle-div {
  margin-top: 80px;
  max-width: 100vmax;
  max-height: 30vmax;
  border: solid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
